@model OntanedaTomas_ExamenP1.Models.TOntaneda

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TOntaneda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VelocidadCPU" class="control-label"></label>
                <input asp-for="VelocidadCPU" class="form-control" />
                <span asp-validation-for="VelocidadCPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstaOverclokeado" /> @Html.DisplayNameFor(model => model.EstaOverclokeado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaObtencion" class="control-label"></label>
                <input asp-for="FechaObtencion" class="form-control" />
                <span asp-validation-for="FechaObtencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCelular" class="control-label"></label>
                <select asp-for="IdCelular" class ="form-control" asp-items="ViewBag.IdCelular"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
